* {
    padding: 0;
    margin: 0;
    font-family: "StratosSkyeng";
  }

  .hide {
    display: none;
  }

  .container {
    width: 975px;
    margin: 0 auto;
    /* 0 auto автоматически по бокам */
    border: 1px solid red;
  }

  .modal {
    width: 480px;
    background: #c2f5ff;
    border-radius: 12px;
    margin: 0 auto;
    margin-top: 158px;
 &__container {
    padding: 52px 69px 48px 69px;
  }
&__header {
    text-align: center;
  }
&__header .title {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #004980;
  }

  &__content .levels-list {
    padding-top: 48px;
    padding-bottom: 67px;
    display: flex;
    column-gap: 24px;
  }

  &__content .lvl-item {
    width: 98px;
    height: 98px;
    background-color: white;
    border-radius: 12px;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0080c1;
    justify-content: space-evenly;

    cursor: pointer;
  }

  &__content .lvl-item:hover {
    border-radius: 25px;

  }

  &__footer {
    margin: 0 auto;
    display: table;
  }

  &__footer .btn {
    width: 246px;
    height: 50px;

    border: none;
    background: #7ac100;
    border-radius: 12px;

    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    color: #ffffff;

    cursor: pointer;
  }

  }

 

  

  

  